.container {
  background-color: rgb(225, 232, 240);
  border: 3px solid rgb(227, 227, 23);
  border-bottom-left-radius: 75px;
  border-bottom-right-radius: 75px;
  border-left-color: black;
  border-right-color: black;
  width: 100vw;
  height: 20vh;
  text-align: right;
}
.container span {
  color: rgb(68, 4, 4);
  margin: 20px 0 0;
  font-weight: 500;
  font-size: 58px;
}
.container .text-center p {
  color: black;
  font-weight: 900;
  font-size: 32px;
  text-align: right;
  margin-right: 150px;
  display: inline-block;
}

.btn {
  background-color: royalblue;
  cursor: pointer;
  padding: 10px 20px;
  border: none;
}
